@font-face {
  font-family: 'Fraunces'; 
  src: url('./assets/fonts/fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces'; 
  src: url('./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans'; 
  src: url('./assets/fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Mono'; 
  src: url('./assets/fonts/dm-mono/DMMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Mono'; 
  src: url('./assets/fonts/dm-mono/DMMono-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
    background-color: hsl(35, 60%, 96%);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#sidebar{
    display: inline-block;
    height: 612px;
    width: 13%;
    padding: 10px;
    padding-right: 0px;
    border-right: 1px solid hsl(36, 22%, 86%);
    position: fixed;
}

.logo img{
    width: 90px;
}

hr{
    width: 95%;
    background-color: hsl(36, 22%, 86%);
    margin-top: 10px;
}

.links{
    width: 90%;
}

.link{
    list-style: none;
    width: 100%;
    padding: 6px;
    padding-left: 14px;
    position: relative;
    right: 45px;
}

.link>a{
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 3px;
    font-size: 12px;
    font-family: "DM Sans";
}

.link span{
    background-color: hsl(15, 74%, 41%);
    font-size: 8px;
    text-align: center;
    padding: 2px;
    display: inline-block;
    width: 10px;
    height: 10px;
    color: white;
    border-radius: 50%;
    position: relative;
    left: 70px;
    bottom: 2px;
}

.icon{
    display: inline-block;
    position: relative;
    top: 5px;
    right: 5px;
}

#selected{
    background-color: #fff;
    border-radius: 5px;
}

.local{
    position: relative;
    top: 168px;
}

.cassis{
    background-color: hsl(45, 100%, 74%);
    background-image: url(./assets/images/icon-weather.svg);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 115px -30px;
    height: 65px;
    width: 85%;
    padding: 8px;
    border-radius: 10px;
    color: hsl(33, 17%, 41%);
    font-family: "DM Mono";
    font-size: 12px;
}

.temp{
    display: block;
    font-size: 27px;
    color: #000;
    font-family: "Fraunces";
}

.cassis .temp+span{
    font-family: "DM Sans";
}

.footnote{
    color: hsl(33, 17%, 41%);
    font-variant-caps: all-small-caps;
    font-family: "DM Mono";
    border-top: 1px dashed hsl(36, 22%, 86%);
    padding-top: 10px;
    margin-right: 10px;
}

.footnote span{
    display: inline-block;
    margin-bottom: 5px;
}

#main{
    display: inline;
    position: relative; 
    float: right;
    padding: 20px;
    width: 82%;
}

.yarn, .yarn1{
    display: block;
    font-family: "DM Mono";
    font-size: 15px;
    font-variant-caps: all-small-caps;
    color: hsl(33, 17%, 41%);
}

.title{
    font-family: "Fraunces";
    font-size: xx-large;
    display: inline-block;
}

.title span{
    font-family: "Fraunces";
    font-style: italic;
    color: hsl(15, 74%, 41%);
}

.btns{
    display: inline-block;
    margin-left: 50%;
    position: relative;
    bottom: 8px;
}

.btns button{
    font-family: "DM Sans";
    font-weight: 500;
    padding: 7px;
    height: 34px;
    background: none;
    border: 1px solid hsl(36, 22%, 86%);
    border-radius: 17px;
    margin: 5px;
}

button.btnrev{
    background-color: hsl(33, 15%, 15%);
    border: 1px solid hsl(33, 15%, 15%);
    color: white;
}

.receipt{
    display: inline-block;
    padding: 20px;
    width: 290px;
    height: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin-left: 20%;
    transform: rotate(-5deg);
}
.cardHead>span, .cardHead>div{
    display: inline-block;
}
.rec, .cardHead>div span{
    color: hsl(33, 17%, 41%);
    margin-top: 10px;
    font-variant-caps: all-small-caps;
    font-family: "DM Mono";
}

.rec{
    position: relative;
    bottom: 10px;
}

.cardHead>div{
    position: relative;
    float: right;
    text-align: right;
}

.stay{
    position: relative;
    bottom: 22px;
    font-family: "Fraunces";
    font-size: 17px;
}
.divider{
    border-bottom: hsl(36, 22%, 86%) 1px dotted;
    border-top: hsl(36, 22%, 86%) 1px dotted;
    margin-top: -20px;
    padding-top: 10px;
}

.check{
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin: 0 27px;
    text-align: center;
}

.check>p{
    font-family: "DM Mono";
    font-variant-caps: all-small-caps;
    font-size: 14px;
    color: hsl(33, 17%, 41%);
    margin: 6px auto;
}

.check .temp+span{
    font-family: "DM Sans";
    font-size: 11px;
    font-weight: 500;
    color: hsl(33, 22%, 20%);
}

table{
    width: 100%;
    font-size: 11px;
    font-family: "DM Sans";
    padding: 10px;
    border-bottom: hsl(33, 17%, 41%) 1px solid;
}

.item2{
    font-family: "DM Mono";
    font-size: 10px;
    text-align: right;
}

.last{
    font-weight: 100;
    color: hsl(33, 22%, 20%);
}

.close{
    margin-top: 10px;
}

.total{
    font-family: "DM Mono";
    font-size: 15px;
    font-variant-caps: all-small-caps;
    color: hsl(33, 17%, 41%);
}

.price{
    font-family: "Fraunces";
    font-size: 19px;
    float: right;
}

.close .yarn{
    font-size: 12px;
    display: inline-block;
    margin-top: 8px;
}

.barcode{
    float: right;
    width: 85px;
    height: 25px;
}

.line2{
    margin-top: 15px;
}

.hostNote{
    padding: 20px;
    width: 290px;
    height: 300px;
    border-radius: 20px;
    background: linear-gradient(to top right,hsl(15, 74%, 41%) 60%, hsl(22, 72%, 56%));
    color: hsl(36, 22%, 86%);
    float: right;
    margin-right: 20%;
    transform: rotate(5deg);
}

.hostNote .sun{
    width: 40px;
    height: 40px;
    float: right;
    position: relative;
    bottom: 15px;
}

.yarn1{
    padding-top: 10px;
    border-top: hsl(36, 22%, 86%) 1px dashed;
}

.hostNote .yarn, .yarn1{
    color: hsl(36, 22%, 86%);
    font-size: 12px;
    margin-top: 7px;
}

.notehead{
    font-family: "Fraunces";
    font-style: italic;
    font-size: 15px;
    color: hsl(42, 83%, 58%);
}

.notehead span{
    display: block;
    color: hsl(36, 22%, 86%);
    font-size: 28px;
    margin: 7px 0;
}

.btm .yarn{
    margin-bottom: 6px;
}

.hostSign{
    font-size: 17px;
}

.note{
    margin: 52px 0;
}

.note>p{
    font-family: "DM Sans";
    font-size: 11px;
    line-height: 1.5;
}

.guest{
    width: 100%;
    margin-top: 20px;
}

.guestbox{
    display: inline-block;
    width: 28%;
    height: 200px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: hsl(36, 22%, 86%) 1px solid;
    margin: 10px;
    padding: 15px;
}

.guestbox .infohead{
    font-family: "DM Mono";
    font-variant-caps: all-small-caps;
    font-size: 18px;
    color: hsl(33, 17%, 41%);
    font-weight: 600;
    display: inline-block;
    position: relative;
    bottom: 11px;
}

.guestbox .infoNo{
    font-family: "Fraunces";
    font-size: 23px;
    float: right;
    color: hsl(33, 22%, 20%);
}

.guestbox img{
    width: 23px;
    padding: 6px;
    border-radius: 5px;         
}

.guestbox .not{
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
    font-family: "Fraunces";
    font-size: 20px;
}

.guestbox .rock{
    font-family: "DM Sans";
    font-size: 11px;
    color: hsl(33, 17%, 41%);
}

.guesth1 img{
    background-color: hsl(15, 74%, 41%);
}
.guesth2 img{
    background-color: hsl(230, 49%, 56%);
}
.guesth3 img{
    background-color: hsl(340, 48%, 52%);
}

.guesth1 .infohead{
    color: hsl(15, 74%, 41%);
}
.guesth2 .infohead{
    color: hsl(230, 49%, 56%);
}
.guesth3 .infohead{
    color: hsl(340, 48%, 52%);
}

.guesth1 .infoNo{
    color: hsl(15, 74%, 41%);
}
.guesth2 .infoNo{
    color: hsl(230, 49%, 56%);
}
.guesth3 .infoNo{
    color: hsl(340, 48%, 52%);
}

.guestbox p{
    font-family: "DM Sans";
    color: hsl(33, 22%, 20%);
}

.fran{
    display: inline-block;
}

.rank{
    background-color: hsl(30, 24%, 93%);
    font-family: "DM Mono";
    color: hsl(33, 17%, 41%);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.q{
    font-variant-caps: all-small-caps;
    font-size: 15px;
}

.ranks{
    margin-top: 8px;
}

.rank span+span{
    float: right;
    font-family: "DM Sans";
    font-size: 12px;
    color: #000;
}

.copy{
    font-size: 12px;
    font-variant-caps: all-small-caps;
    color: hsl(33, 17%, 41%);
    border: 1px solid hsl(36, 22%, 86%);
    border-radius: 10px;
    margin-left: 5px;
}